.card {
    width: 320px;
    padding: 40px;
    border-radius: 16px;
    color: #fff;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(40px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    cursor: pointer;
}

.card:hover {
    border: 1px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(80px);
    transform: translateY(-8px);
}

.card.flipped {
    background: rgba(127, 90, 240, 0.2);
    border: 1px solid rgba(127, 90, 240, 0.5);
    box-shadow: 0 8px 100px rgba(127, 90, 240, 0.3);
}